<!DOCTYPE html>
<html lang="en">

  <head>
    <title>All Team Info</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1>Welcome to the <%= "#{@teamhash[0][:team]}" %> team page!</h1>

      <!--Displays the entire team array of hashes-->
      <!--<%= @teamhash %>-->

    <ul>
      <% @teamhash.each do |nested_hash| %>
        <li>
          <%= "#{nested_hash[:first_name]} #{nested_hash[:last_name]} - #{nested_hash[:position]}" %>
        </li>
        <% end %>
    </ul>

    <a href="..">Go back home</a>


  </body>

</html>

