html, body {
  font-family: Verdana;
}

body {
  padding: 0px 5%;
  width: auto;
  background-color: orange;
}

/* HEADER */

.header-container {

  background: #FF6600;
  width: auto;
  padding-left: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
/*  padding: 2px 0px 1px 3px;*/
  margin: 0px;
  vertical-align: middle;
  line-height: normal;
/*  line-height: 2em;
*/
}

.header {
  font-size: .8em;
}

.header span {
  float: right;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.body-container {
  background-color: #F5F5F5;
  width: auto;
  padding: 2% 2%;
  margin: 0px;
}

div {
  margin: 0px;
  padding: 0px;
}

ol {
  list-style-image:url('grayarrow.gif');
}

.float_right { float:right; }
.float_left { float: left; }

.logo {
  border-color: white;
}

.align_right { text-align: right; }

.title a:visited {
  color: gray;
}

li .text {
  font-size: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.comment-quantity a:hover {
  text-decoration:underline;
}
